@use './../../../base/typography';

.character-btns {
  display: flex;
  margin-bottom: 25px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 100px;
    min-width: 85px;
    height: 110px;
    flex-grow: 1;
    cursor: pointer;
    transition: background 100ms ease-out;

    .avatar {
      margin-bottom: 5px;
    }

    .label {
      @include typography.title($font-size: 14px);
      pointer-events: none;
      text-transform: uppercase;
    }

    &_chosen {
      @extend .btn;
      background-color: #516767;
    }
  }

  .btn:hover {
    background-color: #516767;
  }
}