@use './../../../base/mixin';
@use './../../../base/typography';

.characters-call {
  @include mixin.content-centered(760px);

  .title {
    @include typography.title($font-size: 60px);
    margin-bottom: 18px;
  }

  .body {
    @include typography.body;
    margin-bottom: 40px;
  }

  .controls {
    display: flex;

    .button {
      @include typography.button(24px);
      margin-right: 30px;
      width: 190px;
    }
  }
}