@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/src/assets/fonts/Cormorant/TTF/Cormorant-Bold.ttf') format('truetype');
  font-weight: 700;
}

@mixin body($font-size: 24px, $line-height: normal, $color: #FFF) {
  font-family: 'Stem', sans-serif;
  line-height: $line-height;
  font-size: $font-size;
  font-style: normal;
  font-weight: 200;
  color: $color;
}

@mixin title($font-size: 24px, $font-weight: 700, $line-height: normal, $color: #FFF) {
  font-family: 'Cormorant', sans-serif;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin button($font-size) {
  font-family: 'Stem', sans-serif;
  letter-spacing: 0.25px;
  font-size: $font-size;
  line-height: normal;
  font-style: normal;
  font-weight: 500;
}

@mixin link($font-size, $font-weight) {
  font-family: 'Stem', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: normal;
  line-height: normal;
}