@use '../../base/mixin';
@use '../../base/typography';

.general-news {
  background: linear-gradient(180deg, #030201 0%, #1E303A 100%);
  @include mixin.site-section(870px);
  
  &__content {
    display: flex;
    padding: 40px 0 0 0;
    flex-direction: column;
    @include mixin.content-container;
  }

  &__divisor {
    margin-bottom: 76px;
  }

  &__grid {
    margin-bottom: 34px;
  }

  &__button {
    align-self: center;
    @include typography.button(16px, $font-weight: 300);
  }
}