@import './../node_modules/normalize.css/normalize.css';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}