@mixin content-container($max-width: 1160px) {
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;
}

@mixin center-elements($max-width: 100%) {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    max-width: $max-width;
  }
}

@mixin make-union-grid($cols, $column-gap: 0, $row-gap: 0) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  column-gap: $column-gap;
  row-gap: $row-gap;
}

@mixin make-template-grid($grid-template-rows, $grid-template-areas, $column-gap: 0, $row-gap: 0) {
  display: grid;
  grid-template-areas: $grid-template-areas;
  grid-template-rows: $grid-template-rows;
  column-gap: $column-gap;
  row-gap: $row-gap;
}