@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Stem';
  src: url('/src/assets/fonts/em-stem/OTF/Stem-Light.otf') format('opentype');
  font-weight: 300;
}

.Navbar-links {
  a {
    font-family: 'Stem', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    color: #FFF;
  }
}

.Navbar-btns {
  button {
    font-family: 'Stem', sans-serif;
    letter-spacing: 0.25px;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
  }
}