@import './../node_modules/normalize.css/normalize.css';
*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-ExtraLight.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Cormorant";
  src: url("/src/assets/fonts/Cormorant/TTF/Cormorant-Bold.ttf") format("truetype");
  font-weight: 700;
}
.Navbar-links a {
  font-family: "Stem", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

button {
  font-family: "Stem", sans-serif;
  letter-spacing: 0.25px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

.Hero-content .title {
  font-family: "Cormorant", sans-serif;
  font-size: 120px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}
.Hero-content .body {
  font-family: "Stem", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 200;
}

.Hero__general {
  height: 830px;
  background: url("/src/assets/general/hero-bg.jpg") center/cover no-repeat;
}
.Hero__general .overlay {
  height: 100%;
  padding: 0 20px;
  background: linear-gradient(0deg, #0F1018 0%, rgba(16, 16, 24, 0) 100%), linear-gradient(359deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.49) 100%);
}
.Hero__general .Hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Hero__general .Hero-content .title-bg {
  background: url("/src/assets/general/hero-title-fg.jpg") center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.Hero__general .Hero-content .body {
  max-width: 665px;
  color: #FFF;
  margin-bottom: 32px;
}
.Hero__general .Hero-content .Button {
  flex-grow: 0;
  padding: 10px 24px;
}

.Navbar-absolute {
  height: 0;
  position: relative;
}

.Navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 102px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.Navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.Navbar-links a {
  margin-left: 32px;
  color: #FFF;
}

.Navbar-btns button {
  width: 90px;
  margin-left: 24px;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: none;
  color: #FFF;
}

button:hover {
  background: #FFF;
  color: black;
}

/*# sourceMappingURL=main.css.map */
