@import './../node_modules/normalize.css/normalize.css';
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #FFF;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Stem";
  src: url("/src/assets/fonts/em-stem/OTF/Stem-ExtraLight.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Cormorant";
  src: url("/src/assets/fonts/Cormorant/TTF/Cormorant-Bold.ttf") format("truetype");
  font-weight: 700;
}
.general-characters {
  height: 1400px;
  position: relative;
  background: linear-gradient(180deg, #131522 0%, #727D84 100%), url("/src/assets/general/characters-bg.jpg");
  background-size: 100% 50%, 100% 50%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
.general-characters__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(3, 3, 3, 0.28);
}
.general-characters__content {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
  padding: 76px 0 108px 0;
}
.general-characters__divisor {
  margin-bottom: 40px;
}
.general-characters__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 0;
  min-height: 650px;
  margin-bottom: 190px;
}
.general-characters__choice {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.general-characters__title {
  font-family: "Cormorant", sans-serif;
  line-height: normal;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  color: #FFF;
}
.general-characters__title_1 {
  margin-bottom: 20px;
}
.general-characters__title_2 {
  position: relative;
  top: 10px;
}
.general-characters__title_3 {
  margin-bottom: 18px;
}
.general-characters__top {
  margin-bottom: 25px;
  flex-grow: 1;
}
.general-characters__description {
  font-family: "Stem", sans-serif;
  line-height: 120%;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  color: #FFF;
}
.general-characters__video {
  height: 255px;
  background-color: #bab9b9;
  border-radius: 5px;
}
.general-characters__controls {
  display: flex;
  margin-bottom: 25px;
}
.general-characters__control {
  transition: background 100ms ease-out;
}
.general-characters__control_active {
  background-color: #516767;
}
.general-characters__control:hover {
  background-color: #516767;
}
.general-characters__portrait {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #bab9b9;
  border-radius: 5px;
}
.general-characters__call {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 760px;
  margin: 0 auto;
}
.general-characters__body {
  font-family: "Stem", sans-serif;
  line-height: normal;
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
  color: #FFF;
  margin-bottom: 40px;
}
.general-characters__buttons {
  display: flex;
}
.general-characters__button {
  font-family: "Stem", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 24px;
  line-height: normal;
  font-style: normal;
  margin-right: 30px;
  width: 190px;
}

.general-hero {
  height: 830px;
  position: relative;
  background: url("/src/assets/general/hero-bg.jpg") center/cover no-repeat;
}
.general-hero .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, #0F1018 0%, rgba(16, 16, 24, 0) 100%), linear-gradient(359deg, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.49) 100%);
}
.general-hero__content {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.general-hero__title-foreground {
  background: url("/src/assets/general/hero-title-fg.jpg") center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.general-hero__title {
  font-family: "Cormorant", sans-serif;
  line-height: normal;
  font-weight: 700;
  font-size: 120px;
  font-style: normal;
  color: none;
}
.general-hero__body {
  font-family: "Stem", sans-serif;
  line-height: normal;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
  color: #FFF;
  max-width: 665px;
  margin-bottom: 32px;
}
.general-hero__button {
  font-family: "Stem", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
  flex-grow: 0;
  padding: 10px 24px;
}

.general-news {
  background: linear-gradient(180deg, #030201 0%, #1E303A 100%);
  height: 870px;
  position: relative;
}
.general-news__content {
  display: flex;
  padding: 40px 0 0 0;
  flex-direction: column;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
}
.general-news__divisor {
  margin-bottom: 76px;
}
.general-news__grid {
  margin-bottom: 34px;
}
.general-news__button {
  align-self: center;
  font-family: "Stem", sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  font-size: 16px;
  line-height: normal;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  height: 102px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 0 20px;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar__content {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar__link {
  font-family: "Stem", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin-left: 32px;
  color: #FFF;
}
.navbar__button {
  font-family: "Stem", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  margin-left: 24px;
  width: 90px;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #FFF;
  background: none;
  color: #FFF;
}

button:hover {
  background: #FFF;
  color: black;
}

.article-card {
  background: none center/cover no-repeat;
  border-radius: 5px;
  overflow: hidden;
  height: 250px;
}
.article-card__overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  padding: 24px;
  height: 100%;
  width: 100%;
}
.article-card__title {
  font-family: "Stem", sans-serif;
  line-height: normal;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #FFF;
  margin-bottom: 8px;
}
.article-card__body {
  font-family: "Stem", sans-serif;
  line-height: normal;
  font-weight: 200;
  font-size: 15px;
  font-style: normal;
  color: #FFF;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 34px;
}

.character-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 100px;
  min-width: 85px;
  height: 110px;
  flex-grow: 1;
  cursor: pointer;
}
.character-card__avatar {
  margin-bottom: 5px;
}
.character-card__label {
  font-family: "Cormorant", sans-serif;
  line-height: normal;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  color: #FFF;
  text-transform: uppercase;
  pointer-events: none;
}

.section-divisor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-divisor__tag {
  font-family: "Stem", sans-serif;
  line-height: normal;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  color: white;
  margin-right: 40px;
  border-radius: 34px;
  border: 1px solid #FFF;
}
.section-divisor__hr {
  background: #FFF;
  flex-grow: 1;
  height: 1px;
}

/*# sourceMappingURL=main.css.map */
