@use '../base/mixin';
@use '../base/typography';

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  height: 102px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 0 20px;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);

  &__content {
    @include mixin.content-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__link {
    @include typography.link($font-size: 18px, $font-weight: 500);
    margin-left: 32px;
    color: #FFF;
  }

  &__button {
    @include typography.button(14px);
    margin-left: 24px;
    width: 90px;
  }
}
